body {

	font-family: "Verdana", sans-serif;


}

#header {
  margin-top: 50px;
  padding-bottom: 50px; 
}

.contact-us ul{
  float: right;
  padding-top: 26px;
  list-style-type: none;
}

.contact-us ul li{
  display: inline;
}

#logo {
  width: 300px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
}

#secure img{
    width: 180px;
    height: 180px;
    margin: auto;
}

#loginForm {
    padding-bottom: 50px; 
}

#loginForm p a {
    margin-left: 300px;
}

.sideButton {
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 25px;
}

#guest {
    padding: 25px 42px;
}

#description {
   background-color: #f5f5f5;
   padding: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 87%;
    height: 60px;
    background-color: #f5f5f5;
}
